<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employee update</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}"></link>
</head>
<body>
<form th:action="@{/employee}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="id" th:value="${employee.id}"></input>
    <table>
        <tr>
            <th colspan="2">update employee</th>
        </tr>
        <tr>
            <td>lastName</td>
            <td><input type="text" name="lastName" th:value="${employee.lastName}"></input></td>
        </tr>
        <tr>
            <td>email</td>
            <td><input type="text" name="email" th:value="${employee.email}"></input></td>
        </tr>
        <tr>
            <td>gender</td>
            <td>
                <input type="radio" name="gender" value="1" th:field="${employee.gender}">male</input>
                <input type="radio" name="gender" value="0" th:field="${employee.gender}">female</input>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="update"></input>
            </td>
        </tr>
    </table>
</form>
</body>
</html>