<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
</head>
<body>
    <h1>index.html</h1>
    <a th:href="@{/user}">查询所有的用户信息</a><br/>
    <a th:href="@{/user/1}">查询id为1的用户信息</a><br/>
    <p>测试添加用户信息</p>
    <form th:action="@{/user}" method="post">
        用户名：<input type="text" name="username"><br/>
        密码：<input type="password" name="password"><br/>
        <input type="submit" value="提交"/>
    </form><br/>
    <p>测试修改用户信息</p>
    <form th:action="@{/user}" method="post">
        <input type="hidden" name="_method" value="put">
        用户名：<input type="text" name="username"><br/>
        密码：<input type="password" name="password"><br/>
        <input type="submit" value="提交"/>
    </form><br/>
    <p>测试删除用户信息</p>
    <form th:action="@{/user/2}" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="提交"/>
    </form>
    </form>
</body>
</html>